    <section class="content">
        <div class="player-wrapper">
            <div class="player">
                <div class="loadingWrapper">
                    <div class="loading">

                    </div>
                </div>
                <div class="time">
                    1:16
                </div>
            </div>

            <div class="social-icons">
                <a href="#" class="social-icon fb"> </a>
                <a href="#" class="social-icon insta"> </a>
                <a href="#" class="social-icon heart"> </a>
            </div>
        </div>

        <div class="live-pause-wrapper">
            <div class="realtime-title">
                برنامج على الطريق
                مع محمد محمد
            </div>
            <div class="live-pause-button">
                <div class="live-pause" ng-click="bodyController.playPause()" ng-class="bodyController.streamState">

                </div>
            </div>
        </div>

    </section>